.form__container {
    display: flex;
    width: 100%;
    margin: 15px 0;
    padding: 0 10px;
    height: 38px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.form__search {
    width: 65%;
    border: none;
    font-family: var(--mi-letra);
    color: var(--color-fondo-oscuro);
    font-size: 16px;
    font-weight: 500;
    margin:0 10px;
    outline: none;
}

.form__search::placeholder{
    color: var(--color-texto-busqueda);
    font-family: var(--mi-letra);
    font-size: 16px;
    font-weight: 500;
}

input[type="checkbox"] {
    display: none;
}

.check__container {
    position: relative;
    display: flex;
    align-items: center;
}

.form__radioText {
    padding-left: 18px;
    font-family: var(--mi-letra);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-fondo-oscuro);
}

.form__radioText::before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 3px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border: solid 2px var(--color-fondo-oscuro);
    border-radius: 2px;
    transition: all 800ms;
    
}


input[type="checkbox"]:checked + label::before {
    background-color: var(--color-fondo-oscuro);
}
input[type="checkbox"]:checked + label::after {
    color: white;
    position: absolute;
    display: block;
    content: '✔';
    left: 2px;
    top: 0px;
    bottom: 0px;
}