:root {
  --color-primario:#17114A;
  --color-secundario:#24FC94;
  --color-secundario-trans:#24fc9459;
  --color-secundario-trans2:#24fc9466;
  --color-estadistica1:#F0DA05;
  --color-estadistica1-trans:#F0DA0559;
  --color-estadistica2:#F23A3C;
  --color-estadistica2-trans:#F23A3C59;
  --color-estadistica2-trans2:#F23A3C66;
  --color-texto-busqueda:#CCCCCC;
  --color-fondo-oscuro:#04042C;
  --color-fondo-claro:#041443;
  --color-borde:#83AFBF;
  --mi-letra: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  padding: 20px;
  color: white;
  background: linear-gradient(to left,var(--color-fondo-oscuro),var(--color-fondo-claro));
  border: var(--color-borde) 2px solid;
  border-radius: 20px;
  box-shadow: var(--color-borde) 0px 0px 20px 5px;
  width: 360px;
  height: 100%;
  font-family: var(--mi-letra);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  display: grid;
  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}